@charset "utf-8";
@font-face {
  font-family: "vertigo";
  src: url("../font/vertigo/VertigoFLF.ttf") format('truetype');
  font-weight: normal;
  font-style: none;
}

/* fadeIn用に全体を非表示にしておく */
body {
  font-family: "vertigo";
  display: none;
}

header{
	height: 70px;
  font-size: 26px;
}

.box-a{
	border: solid 1px #255;
	height: 400px;
}

/* 外余白をなくすクラス */
.no-padding{
	padding: 0;
}

/* タイル部分 */
.box-b{
	background: #3273c6;
}

.box-c{
	background: #f7f7fa;
}

.box-d{
  border: #000;
  height: 70px;
}

.square{
  transform: rotateY(90deg);
  animation: rotate_panel 0.8s 0.8s;
  -webkit-animation: rotate_panel 0.8s 0.8s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.text{
  font-size: 48px;
  letter-spacing: 0.05em;
  color: #d3d3e4;
  margin: 15px;
}

@keyframes rotate_panel{
  0%{ transform: rotateY(90deg); }
  100%{ transform: rotateY(0deg); }
}

@-webkit-keyframes rotate_panel{
  0%{ transform: rotateY(90deg); }
  100%{ transform: rotateY(0deg); }
}
