@charset "utf-8";

/* fadeIn用に全体を非表示にしておく */
body {
  display: none;
}

header{
	height: 70px;
}

.box-a{
	border: solid 1px #255;
	height: 400px;
}

/* 外余白をなくすクラス */
.no-padding{
	padding: 0;
}

.box-b{
	background: #3273c6;
}

.box-c{
	background: #e2e2f3;
}
