@charset "utf-8";

/* fadeIn用に全体を非表示にしておく */
body {
  display: none;
}

header{
	height: 70px;
}

.box-a{
	border: solid 1px #255;
	height: 400px;
}

/* 外余白をなくすクラス */
.no-padding{
	padding: 0;
}

/* タイル部分 */
.box-b{
	background: #3273c6;
}

.box-b:hover{
  animation: rot 0.7s;
  -webkit-animation: rot 0.7s;
}

@keyframes rot{
  0%{ transform: rotateY(0deg); }
  100%{ transform: rotateY(180deg); }
}

@-webkit-keyframes rot{
  0%{ transform: rotateY(0deg); }
  100%{ transform: rotateY(180deg); }
}

.box-c{
	background: #e2e2f3;
}
